@use 'reset'; // @use須在任何其他規則之前寫入
@use 'variables' as *;
@use 'function' as *;

// WORKS
#works {
  height: fit-content;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 10vh;

  @media (max-width: 430px) {
    margin-top: 15vh;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 10vh 15vw;
  }

  .prompt {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 10px 15%;
    p {
      font-family: $family-tc;
      font-weight: $f-w-r;
      font-size: $f-s-xs;
      color: $sage;
    }
    img {
      display: block;
      width: 20px;
    }
  }

  .works-list {
    height: fit-content;
    margin: 0 15%;
    padding: 0;
    list-style: none;

    column-width: 320px; // 固定欄寬（瀏覽器決定欄位數量
    column-gap: 16px;
    line-height: 0;

    .card-wrap {
      break-inside: avoid;
      margin-bottom: 16px;
    }

    /* 若瀏覽器支援 Masonry Grid，就覆蓋成 Grid 版本 */
    @supports (grid-template-rows: masonry) {
      display: grid;
      /* 固定卡片寬度（例如 320px），自動塞滿 */
      grid-template-columns: repeat(auto-fill, 320px);
      grid-template-rows: masonry;
      gap: 1rem;
      justify-content: center;

      /* 取消 Columns 設定 */
      column-width: initial;
      column-gap: initial;
      line-height: normal; /* 還原 */
      .card-wrap {
        margin-bottom: 0;
      }
    }

    .work-card {
      width: 100%;

      .work-contents {
        display: flex;
        position: relative;
        width: 100%;

        .work-image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          overflow: hidden;

          img {
            width: 100%;
            display: block;
            object-fit: cover;
          }
        }

        .work-sum {
          opacity: 0;
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;

          .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            position: absolute;
            z-index: 3;
            top: 40%;
            width: 100%;
            height: clamp(100px, 50%, 300px);
            padding: 10%;
            overflow: hidden;
            color: $cream;

            .work-mfg {
              display: flex;
              justify-content: space-between;
              align-items: center;

              p {
                font-family: $family-en;
              }
            }

            .bg {
              position: absolute;
              left: -25%;
              top: -50%;
              width: 150%;
              height: 200%;
              background-color: #274346;
              border-radius: 100%;
              z-index: -1;
              transform: scale(0.1);
              /* 初始小一點 */
              transition: transform 0.5s ease;
            }
          }

          &:hover {
            opacity: 1;
            transition: transform 0.5s ease;

            .bg {
              transform: scale(1);
            }
          }
        }
      }

      .pagination {
        color: #274346;
      }
    }
  }
}

