// primary
$sage:#5E6C5B;
$wood:#BB9362;

// secondary
$sea:#D7E1E3;
$forest:#274346;

// Background
$cream:#F8F5EF;
$sand:#EAE6DE;

// Neutral
$light: #FAFBF7;
$light-gray:#c6c6c0;
$slate:#828280;
$ash:#161415;
$white: #fff;
$black: #000000;

// alpha
$alpha-w-10:rgba(255, 255, 255, 0.1);
$alpha-w-20:rgba(255, 255, 255, 0.2);
$alpha-w-40:rgba(255, 255, 255, 0.4);
$alpha-w-70:rgba(255, 255, 255, 0.7);

$alpha-b-20:rgba(0, 0, 0, 0.2);
$alpha-b-60:rgba(0, 0, 0, 0.6);

$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-40: 0.4;
$alpha-50: 0.5;
