@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Serif+TC:wght@200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// font-family
$family-display: 'Noto Serif TC';
$family-tc: 'Noto Sanc TC';
$family-en: 'Figtree', sans-serif;

// font-size -> 待對照 design system
$f-s-xxs: 0.75rem; // 12px small
$f-s-xs: 0.875rem; // 14px second body
$f-s-sm: 1rem; // 16px body
$f-s-md: 1.25rem; // 20px
$f-s-btn: 1.5rem; // 24px btn
$f-s-lg: 1.75rem; // 28px H4
$f-s-xl: 2rem; // 32px H3
$f-s-xxl: 3rem; // 48px H2
$f-s-ex: 3.5rem; // 56px H1

// font-weight
$f-w-l: 300;
$f-w-r: 400;
$f-w-m: 600;
$f-w-b: 700;

// TITLE-段落標題
h1 {
  font-family: $family-display;
  font-size: $f-s-ex;
  font-weight: $f-w-r;
}

h2 {
  font-family: $family-display;
  font-size: $f-s-xxl;
  font-weight: $f-w-r;

  @media (max-width: 768px) {
    font-size: $f-s-xl;
  }
  @media (max-width: 640px) {
    font-size: $f-s-lg;
  }
}

h3 {
  font-family: $family-en;
  font-size: $f-s-xl;
  font-weight: $f-w-r;

  @media (max-width: 768px) {
    font-size: $f-s-lg;
  }
  @media (max-width: 640px) {
    font-size: $f-s-md;
  }
}

h4 {
  font-family: $family-display;
  font-size: $f-s-lg;
  font-weight: $f-w-r;

  @media (max-width: 640px) {
        font-size: $f-s-md;
      }
}

p {
  font-family: $family-tc;
  font-size: $f-s-sm;
  font-weight: $f-w-r;
}

