// spacing
$spacing-xxs:5px;
$spacing-xs:10px;
$spacing-sm:15px;
$spacing-md:20px;
$spacing-lg:25px;
$spacing-xl:32px;
$spacing-xxl:48px;
$spacing-ex:110px;

$spacing-x-xs: 0 10px;
$spacing-x-sm: 0 15px;
$spacing-x-md:0 20px;
$spacing-x-lg:0 25px;
$spacing-x-xl:0 30px;

$spacing-y-sm:10 0px;
$spacing-y-md:15 0px;
$spacing-y-lg:20 0px;
$spacing-y-xl:30 0px;

// labal
$spacing-label: 10px 0 5px;

// radius(px)
$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 24px;
$radius-xl: 36px;
$radius-ex: 99px;

// width
$w-100:100%;
$w-90:90%;
$w-80:80%;
$w-50:50%;
